[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group Moto G4
	forgeAuthor = group Moto G4
	forgeCommitter = group Moto G4
	push = group Moto G4
	label-Code-Review = -2..+2 group Moto G4
	label-Verified = -1..+1 group Moto G4
	submit = group Moto G4
